.pastel-blue {
    color: #809bce;
}

.pastel-light-blue {
    color: #95b8d1;
}

.pastel-green {
    color: #b8e0d2;
}

.pastel-mint {
    color: #d6eadf;
}

.pastel-light-pink {
    color: #eac4d5;
}

.pastel-light-purple {
    color: #e8dff5;
}

.pastel-light-red {
    color: #fce1e4;
}

.pastel-light-yellow {
    color: #fcf4dd;
}